body {
    padding-top: 60px;
    overflow-y: scroll;
}
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
}
pre {
    background: #333;
    color: #fff;
}
code {
    background: #fff;
    color: #333;
}
a {
    color: #a4c639;
    background: none;
}
a:hover {
    color: #333;
}
.bg-primary {
    background: #a4c639;
}
.bg-primary a,.navbar-nav>li>a {
    color: #333;
    background: none;
}
.bg-primary a:hover,.navbar-nav>li>a:hover {
    color: #fff;
    background: none;
}
